# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Private Node Modules
node_modules/
creds.js